.life{
    border: solid;
    text-align: center;
    background-color: lightgoldenrodyellow;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
}
.motivation{
  text-align: center;
  background-color:lightpink;
  padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
}
.science{
  text-align: center;
  background-color: aquamarine;
  padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
}
button{
position: relative;
align: center;
background-color: khaki;
}
